// vars

$input-border-color: rgba(0,0,0,.4);
$input-border-radius: 4px;
$input-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
$input-font-size: 13px;
$input-line-height: 21px;
$input-padding: 3px 6px;
$input-width: 231px;
$secondary-color: #bbb;
// see http://stackoverflow.com/questions/7538771/what-is-webkit-focus-ring-color
$focus-ring-color: rgb(94, 158, 214);

// mixins

@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}  
}

// styles

.search {
	display: inline-block;
	position: relative;

	// placeholder text
	@include placeholder {
		font-style: italic;
	}

	input {
		padding-left: 28px;
	}

	// loupe icon
	.tif-search {
		color: change-color($input-border-color, $alpha: .5);
		font-size: 16px;
		position: absolute;
			left: 8px;
			top: 7px;
	}

	// clear icon
	.tif-delete {
		color: $secondary-color;
		display: block;
		font-size: 22px;
		line-height: 31px;
		position: absolute;
			right: 4px;
			top: 0;

		&:before {
			display: block;
			height: 50px;
		}

		&:hover {
			color: darken($secondary-color, 5%);
		}
	}

	// press ENTER to search
	.press-enter {
		color: $secondary-color;
		display: block;
		font-size: 11px;
		line-height: 26px;
		position: absolute;
			bottom: 0;
			right: 0;

		kbd {
			background: $secondary-color;
			box-shadow: none;
			cursor: default;
			text-transform: uppercase;

			&:hover {
				background: darken($secondary-color, 5%);
			}
		}
	}
}